:root {
    --azul :#25c4c7;
    --negro: #303030;
    --gris: #b6b6b6; 
} 

h1{
    font-family: 'Raleway', sans-serif;
    color: var(--negro);
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px;
}

h2{
    font-family: "Raleway";
    font-size: 45px;
    color: var(--azul);
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-family: "Open sans";
    font-size: 18px;
    padding: 0;
    animation-name: slideIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    text-align: center;

}

h4{
    font-family: "Raleway";
    font-size: 25px;
    color: var(--negro);
    text-align: center;
    text-transform: uppercase; 
    margin: 30px;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: var(--negro);
    margin: 20px;
}

.navbar-body-background{
    background-color: white;
}

.nav-blue-bar{
    background-color: var(--azul);
    width: 100%;
    height: 85px;
}

.navbar-img-icon{
    width: 20px;
}

.navbar-light .navbar-nav .nav-link{
    font-family: "Open sans";
    font-weight: 700;
    color: var(--negro);
    text-transform: uppercase;
    text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:var(--azul);
}

.container-bios{
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-img-bios{
    width: 100%;
    object-fit: cover;
    height: 50vw;
}

.container-text-blue{
    font-family: "Open sans";
    font-size: 25px;
    color: var(--azul);
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.container-text-p{
    text-align: center;
}


.div-centered{
    justify-content: center;
    margin: auto;
}

.container-img-square{
    width: 36vw;
    height: 380px;
    object-fit: cover;

}


.row{
    margin: 0px;
}

.container-fullvw{
    margin-top: 200px;
}


.btn{
    background-color: #25c4c7;
    border: #25c4c7;
    
}


.btn:hover{
    background-color: #8ae6e7;
}


.footer-background-black{
    background-color: var(--negro);
    }
    
.footer-link-txt{
    color:white;

}

.footer-title-txt{
    color:white;
    font-weight: 700;
    text-decoration: underline var(--azul) solid 3px;
    text-underline-offset: 5px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.footer-link-copyright{
    color: var(--gris);
    margin-top: 15px;
}

.footer-img-icon{
    width: 20px;
    padding: 2px;
    margin-right: 5px;
}


@keyframes slideIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 640px){
 h1{
    font-family: 'Raleway', sans-serif;
    color: var(--negro);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin:10px 0px 10px 0px;
}

 .navbar-nav {
    flex-direction: column;

}

/* .footer-link-txt{
    
    visibility: collapse;
} */

.container-img-bios{
    width: 100%;
    object-fit: cover;
    height: 100vw;
}

.container-img-square{
    width: 100%;
    object-fit: cover;
    margin:10px 0px 10px 0px;
}
.container-fullvw{
    margin: 30px 0px 10px 0px;
}
}