:root {
    --azul :#25c4c7;
    --negro: #303030;
    --gris: #6b6b6b:
} 

h1{
    font-family: 'Raleway', sans-serif;
    color: var(--negro);
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px;

}

h2{
    font-family: "Raleway";
    font-size: 45px;
    color: var(--azul);
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-family: "Open sans";
    font-size: 18px;
    padding: 0;
    animation-name: slideIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    text-align: center;
}

h4{
    font-family: "Raleway";
    font-size: 25px;
    color: var(--negro);
    text-align: center;
    text-transform: uppercase; 
    margin: 30px;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: var(--negro);
    margin: 20px;
}

.barra-azul{
    background-color: var(--azul);
    width: 100vw;
    height: 85px;
}

.container-bios{
    margin-top: 30px;
    margin-bottom: 30px;

}
.container-bios-img{
width:70%;

}

.txt-azul{
    font-family: "Open sans";
    font-size: 25px;
    color: var(--azul);
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
.txt-bio{
    text-align: center;
}

.div-centered{
    justify-content: center;
    margin: auto;
}

.square-img{
/*object-fit: none;*/
    width: 36vw;
    height: 380px;
    object-fit: cover;
}

.txt-nav{
    font-family: "Open sans";
    font-weight: 700;
    color: var(--negro);
    text-transform: uppercase;
    text-align: center;
}

.txt-azul :active{
    color: var(--azul);
}

.img-icon{
    width: 20px;
}