:root {
    --azul :#25c4c7;
    --negro: #303030;
    --gris: #b6b6b6; 
} 
body{
    display: contents;
}

h1{
    font-family: 'Raleway', sans-serif;
    color: var(--negro);
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: "Raleway";
    font-size: 45px;
    color: var(--azul);
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-family: "Open sans";
    font-size: 18px;
    padding: 0;
    animation-name: slideIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    text-align: center;
    align-items: center;
}

h4{
    font-family: "Raleway";
    color: var(--negro);
    text-align: center;
    text-transform: uppercase; 

}

h6 {
    font-size: .8rem;
}

.card-img{
    justify-content: center;
    align-self: center;
    height: 80vh;
    opacity: 50%;
    object-fit: cover;
}

.header-img{
    height: 30vh;
}

.barra-navegacion{
    position: fixed;
    z-index: 1;
    /* display: flex; */
    padding:0%;
}

.navbar-body-background{
    background-color: white;
    height: 50px;
}

.nav-blue-bar{
    background-color: var(--azul);
    width: 100%;
    height: 55px;
}

.navbar-img-icon{
    width: 15px;
}

.navbar-light .navbar-nav .nav-link{
    font-family: "Open sans";
    font-weight: 700;
    color: var(--negro);
    text-transform: uppercase;
    padding: 0px;
    font-size: .8em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:var(--azul);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--azul);
}

a {
    color:  var(--negro);
    text-decoration: none;
    font-family: "Open sans";
}

a:hover{
    text-decoration: none;
    color:var(--gris);
}

li{
    list-style: none;
    font-size: 13px;
}

.container-bios{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-self: center;
}

.container-img-bios{
    width: 100%;
    object-fit: cover;
    height: 35vw;
}

.container-text-blue{
    font-family: "Open sans";
    font-size: 25px;
    color: var(--azul);
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.container-text-p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--negro);
    margin: 20px;
}

.div-centered{
    justify-content: center;
    margin: auto;
}

.container-img-square{
    width: 36vw;
    height: 380px;
    object-fit: cover;

}

.row{
    margin: 0px;
    justify-content: center;
}

.container-fullvw{
    margin: 50px auto 50px auto;
    
}

.card{
    border: none;
}
.card-title {
    height: 100px;
}

.card-img-top{
    width: 80%;
    margin: auto;
}


.footer-background-black{
    background-color: var(--negro);
    }
    
.footer-link-txt{
    color:white;
    font-size: 12px;
}

.footer-title-txt{
    color:white;
    font-weight: 700;
    text-decoration: underline var(--azul) solid 3px;
    text-underline-offset: 7px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-title-txt-mobile{
    color:white;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 20px;
}

.footer-link-copyright{
    color: var(--gris);
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 10px;
}

.footer-img-icon{
    width: 15px;
    padding: 2px;
    margin-right: 5px;
}

.container-services-img{
    width: 50%;
}

.container-services-text{
    width: 50%;
}

.container-services-text-blackbox{
    background-color: var(--negro);
    color: white;
    padding: 20px;
    font-weight: 500;
}
.more {
    display: none;
}

#irArriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index:1;
    border: none;
    outline: none;
    background-color: var(--azul);
    color: white;
    cursor: pointer;
    opacity: 80%;
    border-radius: 100%;
    width: 35px;
    font-size: 20px;
  }

@keyframes slideIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 640px){
 h1{
    font-family: 'Raleway', sans-serif;
    color: var(--negro);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin:10px 0px 10px 0px;
}

 .navbar-nav {
    flex-direction: column;
}
/* .footer-link-txt{
    
    visibility: collapse;
} */

.container-img-bios{
    width: 100%;
    object-fit: cover;
    height: 90vw;
}

.container-img-square{
    width: 100%;
    object-fit: cover;
    margin:10px 0px 10px 0px;
}
.container-fullvw{
    margin: 100px auto 10px auto;
}

.card-img{
    height: 40vh;
}
.header-img{
    height: 20vh;
}
}
@media (max-width: 992px) {

    .nav-ba{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }
    .navbar-link-text{
        background-color: white;
        z-index: 8;
    }
    #navbarTogglerDemo02{
        background-color: white;
        z-index: 8;
    }
    .nav-item{
        background-color: white!important;
        z-index: 8!important;
    }
    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
